<main class="flex flex-col min-h-dvh place-items-center justify-center">
  <div class="max-w-xs">
    <h1 class="text-lg font-semibold p-4">
      Current Available Ticket Count: {{ tickets.length }}
    </h1>
    <div *ngIf="!tickets.length" class="flex flex-col items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="size-6 text-zinc-400"
      >
        <path
          d="M11 21.73a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73z"
        />
        <path d="M12 22V12" />
        <path d="m3.3 7 7.703 4.734a2 2 0 0 0 1.994 0L20.7 7" />
        <path d="m7.5 4.27 9 5.15" />
      </svg>
      <p class="text-zinc-400 text-sm text-center">No Tickets Available!</p>
    </div>
    <div class="flex flex-col max-h-80 space-y-4 w-full overflow-auto">
      <div
        *ngFor="let ticket of tickets; let i = index"
        class="flex bg-zinc-200 rounded-lg gap-4 p-4 relative"
      >
        <div class="flex flex-col gap-0.5">
          <h1 class="text-sm font-medium">Vendor ID: {{ ticket.vendorId }}</h1>
          <p class="text-sm font-medium">Ticket ID: {{ ticket.ticketId }}</p>
        </div>
      </div>
    </div>
  </div>
</main>
